.form-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 5%;
    row-gap: 0px;
  }
  .form-container{
    
    padding: 20px;
    /* width: 70%; */
  }
  .ant-form-item .ant-form{
    
    text-align: start;
  }
  .ant-form-item .ant-form-item-label{
    font-weight: 700;
    font-size: 20px;
  padding: 0px;
  margin-top: -10px;
  }
  
  /* Reset margin for all form item controls */
 