.dashboard {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.dashboard--wrap {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* padding-left: 2rem; */

  gap: 20px;
  width: 100%;

  .dashboard--content {
    padding: 20px;
    margin-right: -20px;
    background: #f6f6f6;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
